/* General Styling */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: radial-gradient(lightcyan, transparent);
}

.tracker-container {
    border-radius: 20px;
    padding: 50px;
    background: radial-gradient(lightyellow,lightblue);
}

#task-header {
    padding-bottom: 25px;    
    font-size: 18px;
    font-style: oblique;
    letter-spacing: .2rem;
    color: #000;
}

#completed-tasks label {
    text-decoration: line-through;
    color: rgb(0, 200, 200);
}

.list-btn {
    border-radius: 5px;
    outline: solid;
    outline-style: inset;
    outline-width: 2px;
    outline-color: rgb(60, 0, 68);
    background: rgb(255, 255, 255);
}

.rename, .delete {
    border-radius: 20px;
    background: rgb(200, 200, 255);
}

.rename {
    margin-right: 10px;
}

/* Element Layouts */
.tracker-container {
    display: block;
    margin: 50px auto 0;
    width: 500px;
}
    
ul {
    margin: 5;
    padding: 0;
}
    
li * {
    float: left;
}
    
li, h3 {
    clear: both;
    list-style: none;
}
    
button {
    margin: 10px 0 0;
    border: none;
    width: 100px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    color: #004;
}

.list-btn {
    font-size: 18px;
}

.list-btn:hover {
    color: #00f;
}

button:hover {
    color: #33f;
}

.rename:hover, .delete:hover {
    height: 30px;
}

/* Labels and Input */
h3, label[for='new-task'] {
    color: #110;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
}
    
input[type="text"] {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 18px;
    padding: 10px;
    background: #fff;
    font-size: 18px;
    line-height: 18px;
    color: #00f;
}
    
input[type="text"]:focus {
    color: #119;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.main {
    text-align: center;
}

.middle {
    font-size: 14px;
    text-align: left;
}
        
/* New Task Layout */
label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}
    
input#new-task {
    float: right;
    width: 318px;
}
    
/* Task List Layout */
li {
    overflow: hidden;
    border-bottom: 1px solid #143;
    padding: 10px 0;
}
    
li > input[type="checkbox"] {
    position: relative;
    top: 15px;
    margin: 0 10px;
}
    
li > label {
    width: 237px;
    padding: 0 0 0 12px;
    font-size: 18px;
    line-height: 40px;
}
    
li > input[type="text"] {
    width: 226px;
}

li > .delete:hover {
    color: #CF2323;
}

/* Edit Task Display Levels */
ul li input[type=text] {
    display: none;
}
    
ul li.renameMode input[type=text] {
    display: block;
}
    
ul li.renameMode label {
    display: none;
}
